.bg-container {
    margin-top: 100px;
    background-color: hsl(0, 0%, 75%);
    
    background-size: cover;
    
    /* opacity: 0.3 ; */
    
}
.image{
    width: 100%;
}
.urlBox{
    
    background-color:hsl(257, 27%, 26%);
}
.search-box{
     position: relative; 
    bottom: 75px;
    margin-left: 130px;
    
    opacity: 1;
    width: 75%;
    padding: 50px;

    background-color: hsl(255, 11%, 22%);
    background-image:url('https://res.cloudinary.com/vgosangi/image/upload/v1667580444/bg-shorten-desktop_gzqb2r.svg') ;
}
.template{
    width: 25%;
    background-color: white;
}

.footer-1{
    background-color: hsl(255, 11%, 22%);
    background-image:url('https://res.cloudinary.com/vgosangi/image/upload/v1667580444/bg-boost-desktop_ah7yt8.svg') ;
}
.footer{
    background-color:  hsl(260, 8%, 14%);
}
.Features_container{
    color: white;
}
.shortlink_card{
    background-color: white;
    margin-left: 130px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 7px;
    border-radius: 5px;
}
#urlInput{
    width: 78%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    
}
#generateShortUrl{
    width: 130px;
    border-radius: 5px;
}
.copybtn{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    margin-left: 15px;
}
.shortenurl{
    margin-left:auto;
}